
.page{
    margin-top: 5rem;
}

/* .intro{
    float: right;
    padding: 1rem;
} */
.about-section{
    padding: 0 2rem 0 3rem;
     width: 30rem;
}


.header2{
    color: grey;
}

/* .information{
    font-size: 1.06rem;
} */