
.page{
    left: 0;
}

.main-header{
    color: black;
    
    
    padding: 0 0 0 3rem;
    /* margin: auto; */
    /* display: flex; */
    /* flex-direction: column; */
    /* border: 1px solid; */
    width: 90rem;
    height: 30rem;
    /* border: 1px solid; */

}

.name-heading{
    font-weight: 200;
    font-size: 5rem;
    /* color: #383B39; */
    color: #9DA69F;
    color: #b6b6d5;
    color: #d2c876;
    color: #9bc8b8;
    /* color: #7ca081; */
    /* border: 1px solid white; */
}



.text{
    /* font-weight: 500; */
    font-size: 1rem;
    /* line-height: 0.1rem; */
    color: #dddbd9;
    color: #b6b6d5;
    color: #d2c876;
    color: #9bc8b8;
    color: #7ca081;
}

.intro{
    float: right;
    margin-top: 10rem;
    width: 40rem;
    color: #dddbd9;
    color: #b6b6d5;
    color: #d2c876;
    color: #9bc8b8;
    color: #7ca081;
}

.information{
    font-size: 1.06rem;
    line-height: 1.7;
    color: #dddbd9;
    color: #b6b6d5;
    color: #d2c876;
    color: #9bc8b8;
    color: #7ca081;
}


@media only screen and (max-width:870px) {


    .main-header{
        padding:1rem;
        /* margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column; */
        width: 12rem;
    
    }

    .name-heading{
        /* font-weight: 200; */
        font-size: 3rem;
    }

    .information{
        font-size: 1rem;
        /* border: 1px solid white; */
        padding: 1rem;
        font-size: 1rem;
        line-height: none;

    }
    
    .text{
        font-size: 1rem;
 
    }


    .intro{
        margin: auto;
        display: flex;
        align-items: center;
        text-align: center;
        width: 20rem;
    }
    
}